__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Dataset and large files
checkpoints/
*.db
*.zip
*.log
*.pt

# Paper: include docs but exclude large data
paper/dataset/
paper/.venv

# Jupyter
.ipynb_checkpoints/

# Env
.venv/
venv/
